
/*********************************************** 
**********************INDEX********************* 

    1. Common css
    2. banner
    3. navbar
    4. about
    5. icon
    6. photo-showroom
    7. count-section
    8. phone-illustation
    9. footer
    10.hover effect
*************************/


/********common css*********/
*{
  margin: 0px;
  padding: 0px;
}

/*fonts*/



@font-face {
  font-family: "SharpSansNo1-Bold";
  src: url("../fonts/ss-700.otf");
}

@font-face {
  font-family: "SharpSansNo1-Medium";
  src: url("../fonts/ss-500.otf");
}


h1, h3, h4{
  font-family: "SharpSansNo1-Bold";
}
p{
  font-family: "SharpSansNo1-Medium";
}
.about-text1{
  font-family: "SharpSansNo1-Medium";
  font-weight: 400 !important;
}
h4{
  font-family: "SharpSansNo1-Medium";
}



/*banner section*/
.banner{
  width: 100%;
  min-height: 1000px;
  background-image: url('../img/Background-header.png');
  background-size: cover;
  background-position: center;
}
.banner-content{
  padding-top: 110px;
}
.banner-content h1{
    padding-top: 100px;
   font-weight: 900;
  font-size: 90px;
  line-height: 80px;
}

.phone-illustation-btn .btn1{
   border: 2px solid #ee5859;
   color: #ee5859;
  }
.phone-illustation-btn .btn1:hover{
   color: #fff;
   background-color: #ee5859;
}
.phone-illustation-btn .btn2{
   border: 2px solid #ee5859;
   color: #fff;
   background-color: #ee5859;
}
.phone-illustation-btn .btn2:hover{
    color: #fff;
}


/*navbar section*/
.logo img{
  max-width: 210px;
}
.nav-link{
  /*font-size: 20px !important;*/
  font-weight: 400 !important;
  /*color: #fff;*/
}
.navbar-nav{
  margin-left: auto;
  }
  .icon-ios-padding{
    padding-left: 20px;
  }
  ul li a{
     /*color: #fff !important;*/
     font-weight: 400px !important;
     /*font-size: 18px;*/
  }
  li:hover a{
     /*color: #fff !important;*/
     font-weight: 500 !important;
     /*font-size: 17px !important;*/

  }
 
  .bgopacity{
  background-color: #fff;
  transition: background-color .5s;
}


/************about-text************/
.about-text h3{
    color: #ee5859;
    text-align: center;
    padding-bottom: 50px;
/*    font-size: 36;
    font-weight: 300;
    letter-spacing: 2px;*/
}

/*icon section*/
#functions p{
  padding: 0 20px;
  font-size: 16px;
}
.icon img{
  justify-content: center;
  padding-bottom: 3px;
}
.icon h4{
  color: #ee5859;
  font-weight: 700;
}
.icon .icon-hover:hover h4{
    font-weight: 500;
    transition: 0.8s;
}
.icon p{
  color: #6c2728;
}

/*.photo-text-padding class*/

.photo-text-padding h1{
      padding-top: 70px;
   }

.img-size{
  max-width: 500px;
  justify-content: center;
}


/************photo-car************/
.photo-car h1{
   color: #6c2728;
   font-weight: bold;
}
.photo-car p{
  color: #919191;
  /*padding-right: 35px;*/
}
.car-text{
  padding-left: 70px;
}

/************photo-bicycle************/
.photo-bicycle h1{
   color: #6c2728;
   font-weight: bold;
}
.photo-bicycle p{
  color: #919191;
}
 

/***********photo-showroom************/
.photo-showroom h1{
   color: #6c2728;
   font-weight: bold;
}
.photo-showroom p{
  color: #919191;
}

.icon-img-size{
  max-width: 200px;
}

/************count-section************/
.count-sec p{
  position: relative;
  top: -15px;
  color: #6c2728;
}
.count-sec h1{
   padding-top: 7px;
   font-weight: 900;
   color: #ee5859;
  font-size: 70px;
  }


/************phone-illustation************/
.phone-illustation{
   padding-bottom: 50px;
 }
 
.phone-illustation h1{
   color: #ee5859;
   padding-top: 130px;
   padding-left: 70px;
}
.phone-illustation-btn{
  padding-left: 70px;
}



/************footer section************/
.footer{
  background-color: #ee5859;
  color: #fff;
}
.footer span:hover{
  color: #6c2728;
}

.footer .hov:hover{
  color: #6c2728 !important;
}

.footer a:hover{
  color: #6c2728 !important;
}


/*********hover effect************/
.hover01 .figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover01 .figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.hover2 .figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.hover2 .figure:hover img {
  opacity: .5;
}

.hover3 .figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: .4;
  }
  100% {
    opacity: 1;
  }
}




